*CLKernel_*.h
*Kernels/*.cl.h
/.vscode/c_cpp_properties.json
/.vscode/settings.json
/.vscode/tasks.json
/tan/tanlibrary/src/Graal/OclKernels/*.h
/tan/samples/src/TrueAudioVR/Kernels/*.h
/tan/build/cmake/linux
/tan/build/cmake/mac
/tan/build/cmake/mac-xcode
/tan/build/cmake/mac-gnumake
/tan/build/cmake/vs2015
/tan/build/cmake/vs2017
/thirdparty/portaudio/*
/thirdparty/OpenCL-Headers/*
/tan/tanlibrary/src/fftw-3.3.5/*
.DS_Store