[submodule "thirdparty/OpenCL-Headers"]
	path = thirdparty/OpenCL-Headers
	url = https://github.com/KhronosGroup/OpenCL-Headers
[submodule "amfOpen"]
	path = amfOpen
	url = https://github.com/amfdev/AMF
